@media only screen and (max-width: 600px) {
    .perfil {
        flex-direction: column; /* Altera para um layout de coluna */
        padding: 23px; /* Reduz o padding para economizar espaço */
    }

    .projetos-img {
        width: 98%;
     
    }

    .projetos-img2{
        width: 98%;
        margin: 10px;
    }
}

ul li {
    font-family: "Courier New", monospace;
    font-smooth: never;
    font-size: 20px;
}